body {
    font-family: sans-serif;
    padding-top: 90px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px ;
    padding-left: 120px;

   
  }
  
  .container:hover{
    filter: drop-shadow(2);
    transform: scale(1.03);
  }
  .image-container {
    width: 30%;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .content {
    width: 60%;
  }
  
  .content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content p {
    margin-bottom: 20px;
  }
  
a {
  text-decoration: none;
    background-color: #d91dd0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  h3{
    color: rgb(5, 97, 66);
    text-align: center;
    padding-top: 20px;
    font-size: 2rem;
  }

  h3:hover{
    color: rgb(227, 103, 219);
  }